body{
  background-color: whitesmoke;
}
#mainNav{
  background-color: #046645;
  overflow: hidden;
}

#mainNav ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

#mainNav li{
  padding: 0;
  margin: 0;
}

#mainNav a{
  float: left;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 18px;
}

#mainNav li:hover{

  background-color: #87E9A9;;
}

#mainNav a:hover{
  color: black;
  background-color: #87E9A9;
}

.image-container{
  display: flex;
  justify-content: center;
}
.headshot{
  border-radius: 50%;
  width: 150px;
}
.about{
  text-align: center;
}
.contact{
  text-align: center;
}